In [30]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
import json

In [3]:
_ROOT = r"D:\data\fashion"

In [36]:
df

                            image_name       cloth_type
0     ao-len-cardigan/img_56840843.jpg  ao-len-cardigan
1     ao-len-cardigan/img_37885529.jpg  ao-len-cardigan
2     ao-len-cardigan/img_59192395.jpg  ao-len-cardigan
3     ao-len-cardigan/img_45299965.jpg  ao-len-cardigan
4     ao-len-cardigan/img_50443424.jpg  ao-len-cardigan
...                                ...              ...
5085     ao-thun-ba-lo/img_1012165.jpg    ao-thun-ba-lo
5086     ao-thun-ba-lo/img_1012095.jpg    ao-thun-ba-lo
5087     ao-thun-ba-lo/img_1012135.jpg    ao-thun-ba-lo
5088     ao-thun-ba-lo/img_1012115.jpg    ao-thun-ba-lo
5089     ao-thun-ba-lo/img_1012125.jpg    ao-thun-ba-lo

[5090 rows x 2 columns]

In [20]:
df = pd.read_csv(os.path.join(_ROOT, 'train_labels.csv'))
dict_verified_categories = dict(df['cloth_type'].value_counts() > 50)
list_used_categories = [k for k,v in dict_verified_categories.items() if v == True]
df_used = df[df['cloth_type'].isin(list_used_categories)]
df_used['cloth_type'].value_counts()

ao-vest-blazer-nu                      300
ao-hoodie-nu                           300
ao-len-nam                             300
bo-vest-nu                             300
quan-jogger-nam                        300
trang-phuc-cosplay                     300
quan-nu                                299
do-lot-do-ngu-nam                      299
ao-len-cardigan                        299
ao-dai                                 299
ao-nu                                  299
ao-nguc                                299
dam-nu                                 299
quan-nam                               299
thoi-trang-nu-quan-dai                 298
vay-chong-nang-khau-trang              297
do-boi-nam                             182
do-hoa-trang-trang-phuc-cosplay-nam     79
Name: cloth_type, dtype: int64

In [31]:
train_cat, valid_cat = train_test_split(list_used_categories, test_size=0.2, random_state=42)
dict_testval_set = {
    'train': train_cat,
    'val': valid_cat
}
# dict_testval_set

In [37]:
train_cat

['quan-jogger-nam',
 'quan-nam',
 'do-boi-nam',
 'vay-chong-nang-khau-trang',
 'ao-nguc',
 'ao-len-nam',
 'ao-dai',
 'do-hoa-trang-trang-phuc-cosplay-nam',
 'bo-vest-nu',
 'dam-nu',
 'quan-nu',
 'ao-nu',
 'thoi-trang-nu-quan-dai',
 'ao-len-cardigan']

In [40]:
# x_val = df[df['cloth_type'].isin(valid_cat)]['image_name']
# y_val = df[df['cloth_type'].isin(valid_cat)]['cloth_type']
df_gallery, df_query = train_test_split(df[df['cloth_type'].isin(valid_cat)], test_size=0.2, random_state=42)

In [45]:
df_gallery['is_query']=False
df_query['is_query']=True
df_val

In [44]:
df_gallery.to_csv(r'D:\data\fashion\gallery.csv', header=True, index=False)
df_query.to_csv(r'D:\data\fashion\query.csv', header=True, index=False)

In [42]:
df_gallery['cloth_type'].value_counts(), df_query['cloth_type'].value_counts()

(ao-vest-blazer-nu     245
 do-lot-do-ngu-nam     239
 trang-phuc-cosplay    238
 ao-hoodie-nu          237
 Name: cloth_type, dtype: int64,
 ao-hoodie-nu          63
 trang-phuc-cosplay    62
 do-lot-do-ngu-nam     60
 ao-vest-blazer-nu     55
 Name: cloth_type, dtype: int64)

In [33]:
outfile = open('../resources/trainval.json', 'w')
json.dump(dict_testval_set, outfile, indent = 4)
outfile.close()